.text-section {
	text-align: center;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.invite-section {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
	font-size: 12px;
}

.name-section{
	padding-top: 30px;
	padding-bottom: 30px;
}

.introdue-section {
	min-height: 70vh;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.content-section {
	--scroll-length: 1.5;
	height: calc( var(--scroll-length) * 100vh );
	width: 100%;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.content-section .content .subheading,
.content-section .content .paragraph {
	opacity: 0.1;
	opacity: calc( 0.3 + var(--viewport-y) );
}

.figure {
	width: 100%;
	height: 100vh;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.figure > img {
	display: block;
	width: 100%;
	height: 100%;
	max-width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center center;
	object-position: center center;
}
.main-image{
	width: 100%;
	margin: 0;
	top: 0;
	left: 0;
}
.main-image > img {
	width: 100%;
}

.main-image > .hero {
	max-width: 100%;
	opacity: 0.6
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	color: white;
	padding: 2em;
	font-size: 4vmin;
}

@media (min-width: 769px){
.content{
	font-size: 2.5vmin;
}
}

.content * {
	text-shadow: 0 0 4vmin rgba(0, 0, 0, 0.25);
}
.content > .header {
	grid-row: 1 / 2;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: end;
	justify-content: flex-end;
}
.content > .paragraph {
	grid-row: 2 / 3;
	line-height: 1.5;
	top: 15px;
}

.content > .introduce-paragraph {
	line-height: 1.5;
}

.name {
	text-align: right;
}

.header > .parent {
	text-align: right;
	line-height: 1.5;
}

.content > .vertical-paragraph {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	line-height: 1.4;
	text-align: right;
}

.heading {
	font-size: 2.75em;
	margin: 0;
	line-height: 1.5;
}

.subheading {
	font-size: 1.25em;
	font-weight: 600;
}

.introduce-section .main-image > img{
	--scale: calc(.8 +
		(.2 * var(--scroll-length) * var(--visible-y))
	);
	-webkit-transform: scale(calc(1 / var(--scale)));
	transform: scale(calc(1 / var(--scale)));
}

.introduce-section .content {
	opacity: 0.1;
	opacity: calc( 0.7 + var(--viewport-y) );
}

.photo-section{
	position: relative; 
	/* 1:1 ratio */ 
	overflow: hidden;
}

.photo-figure {
	position: relative; 
	width: 100%; 
	height: 100%;
}

.photo-figure img {
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	max-width: 100%; 
	height: auto;
}

/* ---------------------------------- */
.figure {
	--scale: calc(.8 +
		(.2 * var(--scroll-length) * var(--visible-y))
	);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	margin: 0;
	display: block;
	overflow: hidden;
	will-change: transform;
	-webkit-transform: scale(var(--scale));
			transform: scale(var(--scale));
}
.figure:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: black;
	opacity: calc( var(--visible-y) );
}
.figure > img {
	display: block;
	will-change: transform;
	-webkit-transform: scale(calc(1 / var(--scale)));
	transform: scale(calc(1 / var(--scale)));
}

.photo-content{
	width: 100%;
	height: 100%;
}

.navigation{
	width: 50%;
}

/* ---------------------------------- */

*,
*:before,
*:after {
	position: relative;
	box-sizing: border-box;
	font-family: 'Nanum Myeongjo', serif;
}

h2{
	font-family: 'Nanum Myeongjo', serif;

}

html{
	background-color: #ecebeb
}

.heading,
.text-heading {
	font-weight: 900;
	font-size: 1.5em;
	width: 100%;
	padding-top: 50px;
}

.text-subheading {
	font-weight: 500;
	font-size: 1.2em;
	width: 100%;
	line-height: 2;
}

.text-subheading span{
	font-size: 13px;
}
.small-space{
	font-size: 0.7em;
}

.long-contents{
	font-size: 1em;
	padding-top: 3em;
}

.calendar{
	padding-bottom: 40px;
}

body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.05;
	font-weight: 400;
	letter-spacing: -.015em;
	font-family: "SF Pro Display","Helvetica Neue","Helvetica","Arial",sans-serif;
}
