body, html {
    height: 100%;
    margin: 0;
    color: #777;
    font-family: 'Nanum Myeongjo', serif;
}
  
.mainimg-1, .mainimg-2{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainimg-1 {
    /* background-attachment: fixed; */
    min-height: 100%;
    max-width: 100%;
}

.mainimg-2 {
    min-height: 100%;
    margin: 10em 2em 4em 0em!important;
}

.caption{
    position: absolute;
    width: 100%;
    color: #000;
}

.caption > h3 {
    font-weight: bold;
}

.mainimg-1 > .caption {
    left: 0;
    top: 10%;
    text-align: center;
    color:white;
    opacity: 0.9; 
}

.mainimg-2 > .caption {
    right: 0;
    top: 8%;
    margin-right: -1em;
    text-align: right;
}

.mainimg-2 > .caption > h2 {
    margin-top: 15px;
}

.shortbar{
    background-color: black;
    width: 80px;
    height: 4px;
    position: absolute;
    right: 0;
}

.longbar{
    background-color: black;
    width: 80%;
    height: 4px;
    position: absolute;
}

.date {
    text-align: center;
    font-weight: 300;
    font-size: 1em;
    margin: 5em 1em;
}

.letter {
    background-color: whitesmoke;
    padding: 1em 0em 1em 0em;
    background-attachment: fixed;
}

.circular.image {
    -webkit-filter: grayscale(100%);
    filter: gray;
    margin: auto;
}

.notice {
    padding: 5em 1em;
    text-align: center;
    font-weight: 300;
    font-size: 1em;
}

.notice-corona , .notice-onlinelive{
    background-color: whitesmoke;
}

.guidedetail > .content > .place{
    text-align: center;
}

.attendancedetail > .content > .form > span {
    font-size: .8em; 
}

.gallery {
    padding: 5em 0 5em 0;
}

.notice-money{
    text-align: right;
}

.notice-money > img{
    width: 75%;
}
.notice-money > .text{
    margin-top: 2em;
}

.notice-money > .tab{
    text-align: left;
}

.notice-money > .tab > .name{
    font-weight: bold;
}

.notice-money > .tab > .number{
    text-align: right;
}

.ui.items>.item>.content>.description{
    color: lightgray;
}

.pay {
    width: 50px;
    vertical-align: middle;
}

.ui.modal{
    width: 80%;
}

.ui.segment {
    border: 0 !important;
}

  /* Turn off parallax scrolling for tablets and phones */
/* @media only screen and (max-device-width: 1024px) {
    .mainimg-1, .mainimg-2 {
        background-attachment: scroll;
    }
} */